p {
  text-align: center;
}

canvas {
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(25%, 5%);
}

hi {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevents scrollbars */
  background: black; /* optional, matches your canvas */
}
